* {
    padding: 0;
    margin: 0;
}

/* #BC4123
#0B172A
#463940 */

html {
    font-family: "Arial Narrow", tahoma, verdana, arial, sans-serif;
    color: #E0E0E0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #707070
}

.textcolor1 {
    color: #ec6341;
}

.textcolor2 {
    color:  #8ea9ba;
}

.section-info {
    color:  #c2ced6;
}

.section {
    display: block;
    padding: 3em 5em 3em;
}

.bgcolor1 {
    background-color: #0B172A;
}

.bgcolor2 {
    background-color: #293641;
}

.brand-name {
    font-size: 1.3em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #293641;
    box-sizing: border-box;
    height: 60px;
    padding: 0.6em;
}

.nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-item {
    list-style-type: none;
}

.a-link {
    text-decoration: none;
    font-weight: bold;
    color: #F0F0F0;
    padding: 0.2em 0.4em 0.4em;
    margin: 0;
    border: 0;
}

.a-link:hover {
     color: #808080;
}

.logo {
    position: relative;
    left: 2%;
    max-width: 60%;
    max-height: 60%;
    margin: 5px;
}

.hero {
    padding: 0;
    margin: 0;
    max-width: 100%;
    width: 100%;
    max-height: 480px;
    height: 240px;
    overflow: hidden;
}

.hero-text {
    margin: auto;
    position: relative;
    left: 15%;
    top: -55%;
    font-size: 1em;
    color: #E0E0E0;
    z-index: 10;
    /* text-align: center; */
}

.hero-image {
    max-width: 100%;
    display: block;
    max-height:400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item-card {
    background-color: #0B172A;
    padding: 10px;
    margin: 10px;
    text-align: center;
    max-width: 28%;
    border-radius: 10px;
}

.flex-item-card2 {
    background-color: #293641;
    padding: 10px;
    margin: 10px;
    text-align: center;
    max-width: 28%;
    border-radius: 10px;
}

.flex-section {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
}

.subsection {
    /* max-width: 50%; */
}

.flex-item-text {

}

a {
    text-decoration: none;
}

a:hover {
    color: #A0A0A0;
}

.btn {
    border-radius: 10px;
    padding: 3px;
    text-decoration: none;
    border: 2px solid #F0F0F0;
    color: #F0F0F0;
    width: 75px;
    text-align: center;
}

.card-item {
    list-style-type: none;
    background-color: #0B172A;
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
}